:root {
	--primary: #1c0c5b;
	--secondary: #3d2c8d;
	--success: #916bbf;
	--link-hover: rgba(145, 107, 191, 0.3);
	--button-hover: rgba(145, 107, 191, 0.8);
	--nav-gradient: linear-gradient(90deg, #3d2cbd 0%, #1c0c5b 100%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
